*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 800;
}

body{
    background-color: rgb(230, 228, 228);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 40px;
    position: relative;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%)

}


form {
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;

    gap: 10px;
    width: 550px;
    height: 100px;

    transition: .5s;
}

input {
    height:50%;
    border: none;
    border-radius:8px;

}

form input[type="text"] {
    background-color: rgba(12, 180, 166, 0.342);
    border: 2px solid rgba(12, 180, 166, 0.342);
    padding: 20px;
    outline: none;
    color: black;
    transition: border .4s, background .4s;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.377);
 }
 

form input[type="submit"] {
    background-color: rgb(12, 180, 166);
    color: white;
    cursor: pointer;
    transition: background 1s;
    outline: none;
}

form input[type="submit"]:hover {
    background-color: rgb(9, 156, 144);
    
}

div.container {
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.349);
    width: 400px;
    margin-top: 4vh;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    animation: open-result .4s;
    position: relative;
    align-content: center;

}

.msg {
    font-size: 15px;
    font-weight: 100;
    position: relative;
    animation: open-msg .4s;
}

@keyframes open-msg {
    from {
        top: 10px;
        opacity:0
    }
    to {
        top: 0;
        opacity:1
    }
}

@keyframes open-result {
    from {
        top: 20px;
        opacity:0
    }
    to {
        top: 0;
        opacity:1
    }
    
}


section.user-profile {
    display: flex;
    flex-direction: column;
    gap: 3vh;

    
}

section.user-profile img {
    width: 70%;
    border: 3px solid rgb(9, 156, 144);
    border-radius: 50%
}

#informations {
    display: flex;
    flex-direction:column;
    gap: 10px;    
}

#informations p{
    background-color:rgba(9, 156, 144, 0.315);
    border: 2px dotted rgb(9, 156, 144);
    padding: 8px;
    border-radius: 5px;
}

